/* dashboard-style.css */

/* General */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #c5c6c7;
}


/* Navbar */
.navbar {
    background-color: #aedd94 !important;
}

.navbar-brand, .navbar-nav .nav-link {
    color: #e8eded !important;
}

.navbar-nav .nav-link:hover {
    color: #f3f8f8 !important;
}

/* Sidebar */
#sidebar {
    background-color: #aedd94  !important;
    min-height: 100vh;
}

#sidebar .nav-link {
    color: #c5c6c7;
    padding: 10px 15px;
    border-radius: 4px;
}

#sidebar .nav-link.active, #sidebar .nav-link:hover {
    background-color: #45a29e;
    color: #0b0c10;
}

/* Contenido principal */
main {
    background-color: #f8f9fa;
    padding: 2rem;
}

/* Botones */
.btn-primary {
    background-color: #45a29e;
    border: none;
}

.btn-primary:hover {
    background-color: #66fcf1;
}

/* Iconos */
.nav-link span[data-feather] {
    margin-right: 8px;
    color: #66fcf1;
}

/* Tablas, tarjetas y gráficos */
.table {
    background-color: #fff;
}

.card {
    background-color: #1f2833;
    color: #c5c6c7;
}

.card-header {
    background-color: #45a29e;
    color: #0b0c10;
}

/* Elementos específicos como gráficos */
.chart-container {
    background-color: #0b0c10;
    border-radius: 5px;
    padding: 1rem;
}
